{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem aliquam iste nemo veniam, culpa odit alias, consequatur ut quaerat cum eum beatae minus praesentium distinctio quos pariatur nobis dolor optio vitae ea quod libero nihil corporis facilis! Culpa deleniti ipsa excepturi saepe sequi atque accusantium, fuga possimus repellendus aperiam dignissimos rem libero laudantium, autem eum placeat sint exercitationem sit. Sequi ipsum consequatur ipsa voluptas odio totam perferendis, dolorum eveniet labore tempore dolor quis iusto aliquid numquam minus placeat optio sunt eos qui nesciunt rem temporibus sit aut adipisci! Blanditiis, at. Veniam unde, maxime officiis iusto rem molestiae! Velit, sapiente nostrum.</p>
<br>
<p>Website created by {{username}}</p>

{% endblock %}